<!DOCTYPE html>
<html>
<head>
<title>Consultation</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background:#f4f6f9;">

<div class="container mt-5">

<div class="card shadow p-4">

    <h2 class="mb-4">Patient Consultation</h2>

    <h4>{{ data[2] }}</h4>

    <p><b>Age:</b> {{ data[3] }}</p>
    <p><b>Gender:</b> {{ data[4] }}</p>
    <p><b>Phone:</b> {{ data[5] }}</p>
    <p><b>Symptoms:</b> {{ data[6] }}</p>

    <hr>

    <h4 class="mb-3">Write Prescription</h4>

    <form method="POST" action="/save_prescription">

        <input type="hidden"
               name="appointment_id"
               value="{{ data[0] }}">

        <input type="hidden"
               name="patient_id"
               value="{{ data[1] }}">

        <div class="mb-3">
            <label>Medicine Name</label>
            <input type="text"
                   name="medicine"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Dosage</label>
            <input type="text"
                   name="dosage"
                   class="form-control"
                   placeholder="1 tablet after food"
                   required>
        </div>

        <div class="mb-3">
            <label>Quantity</label>
            <input type="number"
                   name="quantity"
                   class="form-control"
                   required>
        </div>

        <button class="btn btn-success">
            Save Prescription
        </button>

        <a href="/doctor" class="btn btn-secondary">
            Back
        </a>

    </form>
    <hr class="mt-5">

<h4 class="mb-3">Order Lab Test</h4>

<form method="POST" action="/order_lab">

    <input type="hidden"
           name="appointment_id"
           value="{{ data[0] }}">

    <input type="hidden"
           name="patient_id"
           value="{{ data[1] }}">

    <div class="mb-3">
        <label>Test Name</label>

        <select name="test_id"
                class="form-control"
                required>

            <option value="1">Blood Test</option>
            <option value="2">X-Ray</option>
            <option value="3">MRI Scan</option>
            <option value="4">CT Scan</option>
            <option value="5">Urine Test</option>

        </select>
    </div>

    <button class="btn btn-primary">
        Send To Lab
    </button>

</form>
</div>

</div>

</body>
</html>