<!DOCTYPE html>
<html>
<head>
    <title>Patient Pharmacy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background:#f4f6f9;">

<div class="container mt-5">

    <h2 class="mb-4">My Prescriptions</h2>

    <table class="table table-bordered bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prescriptions %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>
    {% if p[1] == 'Pending' %}
        <a href="/order_prescription/{{ p[0] }}" 
           class="btn btn-sm btn-primary">
           Order
        </a>
    {% else %}
        <span class="badge bg-success">Dispensed</span>
    {% endif %}
</td>
                <td>{{ p[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="mt-5">Purchase History</h4>

    <table class="table table-bordered bg-white">
        <thead class="table-success">
            <tr>
                <th>Dispense ID</th>
                <th>Prescription ID</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for h in history %}
            <tr>
                <td>{{ h[0] }}</td>
                <td>{{ h[1] }}</td>
                <td>{{ h[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/patient" class="btn btn-secondary mt-3">Back</a>

</div>

</body>
</html>